body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Press Start 2P", system-ui;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 14px;
  font-weight: 500;
}

.main-title {
  font-size: 24px;
  font-weight: 400;
  font-family: "Press Start 2P", system-ui;
}

.subheader-text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Press Start 2P", system-ui;
  line-height: 1.8;
  position: relative;
  left: -28px;
}
.subheader-text:before {
  content: '>';
  padding-right: 10px;
}
@media (max-width: 600px) {
  .subheader-text {
    left: 0;
  }
  .subheader-text:before {
    content: none;
    padding-right: 0;
  }
}

.body-text {
  font-size: 16px;
  font-weight: 500;
}

.project-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
